.container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  gap: calc(10px + 3vmin);
  transition: all 0.3s ease;
}

.button {
  background-color: #90caf9;
  border: 0;
  padding: calc(10px + 3vmin);
  font-size: calc(10px + 2vmin);
  border-radius: calc(10px + 2vmin);
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #ce93d8;
}

.button:disabled {
  background-color: #ccc !important;
  cursor: default !important;
}
